<% IF deferred.errmsg %>
<div id="errmsg" >
    <div class="alert alert-danger">
        <p><strong>Oh !</strong>
        <% deferred.errmsg %>
        <span class="glyphicon glyphicon-remove"></span>
        </p>
    </div>
</div>
<% END %>
