<div id="sidebar">
    Welcome <% login %> !

    <a href="/user/logout">Déconnexion</a>

    <br />
    <a href='/admin'>Page d'administration</a>
    <br />

    <a href='/'>Accueil</a>

</div>

<div id="page">
    <h1>Bienvenue sur la page d'administration</h1>
</div>

