<% include header.tt %>
<% include sidebar.tt %>

<div id="page">

<% errmsg %> <br />

<form action='/user/add/' method="post" >
    <label for='login'>login : </label>
    <input type='text' name='login' id='login' />
    <label for='password'>password : </label>
    <input type='password' name='password' id='password' />
    <input type='submit' name='submit'/>
</form>

</div>

</div> <!-- fin de colonne -->
</div> <!-- fin de ligne -->
