<!doctype html>
<html lang="fr" >
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title>DNSManager</title>

<script type="text/javascript">/* <![CDATA[ */
    !window.jQuery && document.write('<script type="text/javascript" src="<% request.uri_base %>/js/jquery.min.js"><\/script>')
/* ]]> */</script>

<link rel="stylesheet" href="<% request.uri_base %>/css/bootstrap.min.css">
<link rel="stylesheet" href="<% request.uri_base %>/css/bootstrap-theme.min.css">
<script src="<% request.uri_base %>/js/bootstrap.min.js"></script>

</head>

<body>

<% content %>

<div class="row">
    <div class="col-sm-8 col-sm-offset-3">
        <div class="well" id="footer">
            Powered by <a href="http://perldancer.org/">Dancer</a> <% dancer_version %> ♥
        </div>
    </div>
</div>
</body>

</html>
